:root {
    font-size: 32px;
    font-family: "Open Sans";
    /* egg #0c0c18 #220944 #36116d #ff5d02 */
    /* disc #23272a #2c2f33 #7289da */
    --bg-primary: #23272a;
    --bg-secondary: #2c2f33;
    --contrast: #7289da;
    --transition-speed: 200ms;
    
}
@media only screen and (min-height: 1440px) {
    :root {
        font-size: 40px;
    }
}
@media only screen and (min-height: 2160px) {
    :root {
        font-size: 64px;
    }
}
@media only screen and (min-height: 4320px) {
    :root {
        font-size: 128px;
    }
}
body {
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.10rem;
}
body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
body::-webkit-scrollbar-thumb {
    background: var(--contrast);
}
main {
    align-items: center;
    margin-left: 5rem;
    padding: 1rem;
}
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Old IE & Edge */
    scrollbar-width: none; /* Firefox */
}
.navbar::-webkit-scrollbar {
    /* webkit based Browsers */
    display: none;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
}
svg {
    color: var(--contrast);
}
.nav-link,
.content a {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #fff;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}
.nav-link:hover,
.content a:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg,
.content a svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: var(--bg-primary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
.navbar:hover .logo svg {
    transform: rotate(180deg);
}
.nav-link:active,
.content a:active {
    background-color: var(--contrast);
    color: #fff;
}
.nav-link:active svg,
.content a:active {
    color: #fff;
}
/* Tallscreen */
@media only screen and (max-aspect-ratio: 1/1) {
    body {scrollbar-width: none; /* Firefox */
    }
    body::-webkit-scrollbar {
        display: none; /* webkit based Browsers */
    }
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link,
    .content a {
        justify-content: center;
    }
    main {
        margin: 0rem 0rem 5rem;
    }
}
/* Widescreen */
@media only screen and (min-aspect-ratio: 10001/10000) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
    main.navbar:hover {
        margin-left: 16rem;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(1rem, 1fr));
    }
    
}
button {
    font-family: "Open Sans";
    font-size: 1rem;
    background-color: var(--bg-primary);
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}
.active,
.collapsible:hover {
    background-color: var(--bg-secondary);
}
.content {
    padding: 0rem 1rem 0rem 1rem;
    display: none;
    overflow: hidden;
    background-color: var(--bg-primary);
}
.content a {
    padding-left: 1rem;
}
button.disabled {
    cursor: default;
    filter: grayscale(100%) opacity(0.5);
}
img#profpic {
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
}