@media only screen and (max-width: 1439px) {
    :root {
        font-size: 16px;
    }
}
@media only screen and (min-width: 1440px) {
    :root {
        font-size: 32px;
    }
}
@media only screen and (min-width: 2160px) {
    :root {
        font-size: 64px;
    }
}
@media only screen and (min-width: 4320px) {
    :root {
        font-size: 128px;
    }
}
:root {
    font-family: 'Open Sans';
    --bg-primary: #23272a;
    --bg-secondary: #2c2f33;
    --transition-speed: 200ms;
    --blurple: #7289da;
}
body {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
body::-webkit-scrollbar-thumb {
    background: var(--blurple);
}
main {
    align-items: center;
    margin-left: 5rem;
    padding: 1rem;
}
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
}
svg {
    color: var(--blurple);
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #fff;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: var(--bg-primary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
.navbar:hover .logo svg {
    transform: rotate(180deg);
}
.nav-link:active {
    background-color: var(--blurple);
    color: #fff;
}
.nav-link:active svg {
    color: #fff;
}
/* Tallscreen */
@media only screen and (max-aspect-ratio: 1/1) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
}
/* Widescreen */
@media only screen and (min-aspect-ratio: 10001/10000) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
    main.navbar:hover {
        margin-left: 16rem;
    }
}