body {
    color:white;
    caret-color: black;
    text-align: left;
    font-family: "arial";
    background: url(imgs/background.png) no-repeat center right fixed;
    background-color: black;
}
a {
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    color: black;
    background-color: white;
    padding: 1px 1px;
    display: inline-block;
}
a:hover {
    background-color: black;
    color: white;
}
